<section id="testimonial" class="testimonial-area my-24 pt-22">
  <div class="container">
    <div class="justify-center row">
      <div class="w-full lg:w-2/3">
        <div class="pb-10 text-center section-title">
          <div class="m-auto line"></div>
          <h3 class="text-4xl font-bold">Users sharing<span class="font-normal"> their experience</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row testimonial-active">
      <div class="border-2 px-5 h-full py-10 rounded-lg hover:shadow-lg mb-5 border-transparent duration-200 mx-2">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>Usually finding the events in our huge college was difficult. Not anymore I guess, this webiste made things easy and simple for San Jose State University students. All at one stop! Event management System for SJSU.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://i.ibb.co/fDDHmkW/IMG-1166.jpg"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Vishnu Vardhan</h6>
              <p>Student, SJSU</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>This website is very useful especially for new students, because they dont know how often our college has events. And it would be piece of cake for organizers in terms of work with the help of this website</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://i.ibb.co/Pw6jvDC/IMG-1019.jpg"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Sai Bhargav</h6>
              <p>Student, SJSU</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>I like this website because it showcases all the events going on in the campus. which really helps students to find out what events are going on , usually we check by walking in the campus. But this website made things snappy. </p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://i.ibb.co/123j8Wk/Screenshot-2023-12-05-at-3-09-06-PM.png"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Vishwa Teja</h6>
              <p>Student, SJSU</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" border-2 px-5 h-full py-10 rounded-lg mx-2 hover:shadow-lg mb-5 border-transparent duration-200">
        <div class="">
          <div class="flex items-center justify-between mb-6">
            <div class="">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </div>
            <div class="star">
              <ul class="flex">
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
                <li><i class="lni lni-star-filled text-red-400"></i></li>
              </ul>
            </div>
          </div>
          <div class="mb-8 px-5">
            <p>As this website has some good admin page, which helps organizers very much, like finding people who will come to event, registering through online, and data of participants. this make things really easy.</p>
          </div>
          <div class="flex justify-center items-center my-5">
            <div class="relative mx-5">
              <img class="rounded-full w-28 h-28"
                src="https://i.ibb.co/b6qDRY2/IMG-1011.jpg"
                alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="mb-1 text-xl font-bold text-gray-900">Naveen</h6>
              <p>Event Organizer, SJSU</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>